extends ./style.jade
  block head
      title redfern.io - 404 Error
    body
        div.error
            div.error-message
                | 404 Error: Page not found. Please let me know at derek@redfern.io.