extends ./style.jade
  block head
      title redfern.io - 500 Error
    body
        div.error
            div.error-message
                | 500 Error: Something has gone horribly wrong. Please let me know at derek@redfern.io.