extends ./style.jade
block head
    title Adventures | Derek Redfern
block body
  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="/") Derek Redfern
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li
                  a(href="/") Home
                li
                  a(href="/work") Work
                li
                  a(href="/courses") Courses
                li
                  a(href="/projects") Projects
                li(class="active")
                  a(href="/adventures") Adventures
                li
                  a(href="/contact") Contact

    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Hiking on the Appalachian Trail
            div(class="panel panel-body")
              p More content coming soon! In the meantime, check out 
                a(href="https://docs.google.com/presentation/d/1EwOd69xtdJjHm96ONbVldlIgb8cp36TLplAuDABy_HE/pub?start=false&loop=false&delayms=3000") this slide deck 
                | that I used to talk about my 2.5 month trip through half of the Appalachian Trail. Georgia to Pennslyvania, 1100 miles!
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Mountaineering
            div(class="panel panel-body")
              | More content coming soon!
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Fire Arts
            div(class="panel panel-body")
              | More content coming soon!
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Unicycling
            div(class="panel panel-body")
              | More content coming soon!