extends ./style.jade
block head
    title Courses | Derek Redfern
block body
  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="/") Derek Redfern
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li
                  a(href="/") Home
                li
                  a(href="/work") Work
                li(class="active")
                  a(href="/courses") Courses
                li
                  a(href="/projects") Projects
                li
                  a(href="/adventures") Adventures
                li
                  a(href="/contact") Contact

    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              div(class="row")
                div(class="col-xs-6")
                  h3 Human-Robot Interaction in the Factory of the Future
                  h5 Senior Capstone Project in Engineering - SCOPE (Fall 2014 / Senior)
                div(class="col-xs-6 right")
                  
            div(class="panel panel-body")
              div(class="container-fluid")
                div(class="row")
                  div(class="col-xs-12 col-md-6")
                    p About SCOPE: Olin College provides a unique hands-on senior capstone project option for all students in the form of solving an industry problem, sponsored by a company in the industry. This occurs in multi-disciplinary teams over the course of a whole year, and provides a chance to apply everything we've learned to an applied project.
                    p About our project: Rockwell Automation provides safety assessments and solutions to many factories, some of which use both automated processes as well as human workers to perform certain tasks. Our goal is to improve the ways in which humans and robots work in close proximity to one another by designing interactions within the "Factory of the Future", where live human-robot Interactions are not only feasible, but beneficial to manufacturing and productivity.
                  div(class="col-xs-12 col-md-6 hcenter")
                    img(src="/img/rockwell.jpg")
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Autonomous Motorboat
              h5 Robotics I (Fall 2013 / Junior)
            div(class="panel panel-body")
              div(class="container-fluid")
                div(class="row")
                  div(class="col-xs-12 col-md-6")
                    p Robotics I focused on controlling robots using a variety of sensors and actuators through LabVIEW. Our final project in the class was an autonomous motorboat that completed a variety of challenges, such as following set waypoints, handling sensor-blind environments, and chasing another boat that had been programmed by the course TAs.
                    p Lessons learned: how to deal with existing undocumented code, spaghetti LabVIEW wires, and how to develop under uncertainty.
                    p(class="italic") The attached video shows our autonomous boat completing the first of 3 challenges: navigating around a marked buoy and returning to the starting point. There is a camera mounted above the pool, and the boat has a basic onboard lidar system for when it's under the overhang.
                  div(class="col-xs-12 col-md-6 hcenter")
                    iframe(width="420" height="315" src="//www.youtube.com/embed/K4dqubcqSVM" frameborder="0" allowfullscreen)
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 FPGA RFID Reader
              h5 Computer Architecture (Fall 2012 / Sophomore)
            div(class="panel panel-body")
              p CompArch was all about building a MIPS CPU up from basic logic gates, and learning about everything in between. We did some MIPS assembly and even synthesized some of our designs onto an FPGA!
              p My group's final project was creating an RFID reader for our school prox cards on an FPGA! One of my teammates created the analog circuit, and I handled the digital logic on the FPGA. Our final report can be found 
                a(href="https://www.dropbox.com/s/ndem3ry4qf5p72d/rfid.pdf?dl=0") here 
                | - but don't be fooled... the night after we turned in the report, we got the project to work at last! It read the ID number encoded into our cards and displayed it on the seven-segment display on the FPGA.
              p Lessons learned: The RFID protocol has many different layers, including amplitude modulation, frequency shift keying, manchester encoding, and 26-bit Wiegand - we needed to research and then handle all of them in Verilog on our FPGA.
              p Additionally, after taking CompArch in 2012, I've TA'd for the class each time it has been taught since then, in Fall 2013 and Fall 2014. The best thing about TA'ing it is that I get to see the cool new labs become reality for the current students!
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Mechanical Sidescroller
              h5 Principles of Engineering (Spring 2012 / Sophomore)
            div(class="panel panel-body")
              div(class="row")
                div(class="col-xs-12 col-md-6")
                  p PoE is Olin's "intro to mechatronics" class - every project has to have a significant mechanical, electrical, and software component. Typically, teams have issues with integrating these systems...
                  p Our mechanical sidescrolling game functioned much like the now-infamous Flappy Bird - although at the time we made the project, Flappy Bird was not out yet! Our goal was to take the standard "sidescroller" game and make it physical - so that the background scrolled past the character on a spool of paper, and the character moved up and down in front of it.
                  p As expected, the compenents were tough to integrate, but we were happy with the MVP that we achieved, where the user can move the character up and down against a moving background (shown here!).
                  p Lessons learned: Integration is the hardest part of any system, so leave plenty of time at the end!
                div(class="col-xs-12 col-md-6 hcenter")
                  iframe(width="260" height="415" src="//www.youtube.com/embed/fwG3-l6GuT0" frameborder="0" allowfullscreen)
       div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Collaborative Coding Application
              h5 Software Systems (Fall 2012 / Sophomore)
            div(class="panel panel-body")
              p Software Systems taught me about memory allocation, resource locking (semaphores, mutexes), and other low-level operations necessary for a kernel or RTOS. Another student and I designed a Google Docs-like collaborative code editor, complete with syntax highlighting, to put these lessons into practice. 
              p Lessons learned: handling conflicts in a collaborative text editor is a tough problem.
      //- div(class="row")
      //-   div(class="col-xs-12")
      //-     div(class="panel panel-default")
      //-       div(class="panel-heading")
      //-         h3 Inspired by nature: Transporter Animals
      //-         h5 Design Nature (Fall 2011 / Freshman)
      //-       div(class="panel panel-body")
      //-         p 
      //-         p Lessons learned: Users can and will try to break your product in very creative ways!