div(class="container")
  div(class="row")
    div(class="col-xs-12")
      hr(class="darkrule")
    div(class="col-xs-12 bottompad")
      h6 All code used to render this site is available on 
        a(href="http://github.com/redfern314/redfern.io") Github 
        | and is freely licensed under the MIT license. tl;dr do whatever you want but don't sue me if you use the code. Site theme is from 
        a(href="http://bootswatch.com/") Bootswatch 
        | and is released under the same license. Thanks for reading this footer, have a fantastic day!
        br
        br
        span(class="glyphicon glyphicon-copyright-mark")
        |  2014 Derek Redfern