extends ./style.jade
block head
    title Projects | Derek Redfern
block body
  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="/") Derek Redfern
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li
                  a(href="/") Home
                li
                  a(href="/work") Work
                li
                  a(href="/courses") Courses
                li(class="active")
                  a(href="/projects") Projects
                li
                  a(href="/adventures") Adventures
                li
                  a(href="/contact") Contact

    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Researching Electric Vehicles at Olin (REVO)
            div(class="panel panel-body")
              div(class="container-fluid")
                div(class="row")
                  div(class="col-xs-12 col-md-6")
                    p I'm a member of the REVO Sensing Subteam. We develop logic-level electronics for our electric go-kart and other vehicles. The subteam as a whole has worked on many different projects, including: hall effect sensor, battery management system, BLE, CAN, IMU, and others.
                    p My personal deliverables have included developing a 
                      a(href="https://github.com/OlinREVO/AVR-CAN") CAN network
                      |  based on the AVR ATMega16M1 for the club go-kart and creating a BLE link (
                      a(href="https://github.com/OlinREVO/BLE-Firmware") HAL
                      | , 
                      a(href="https://github.com/OlinREVO/ble-sdk") messaging
                      | ) through the Nordic NRF8001 to an Android data display app. These projects enabled cross-sensor communication and allowed the driver to see the current kart statistics in an easy-to-read way.
                    p During my junior year, I acted as the subteam leader. In that role, I facilitated 
                      a(href="https://upverter.com/OlinREVO/") PCB fabrication 
                      | , kept the team on track, and taught incoming members about microcontrollers and how to start developing firmware.
                    p
                      a(href="https://github.com/OlinREVO") Our Github Repositories
                  div(class="col-xs-12 col-md-6 hcenter")
                    img(src="/img/revo.png")
                    p(class="italic") Me test-driving the go-kart!
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 oCal
            div(class="panel panel-body")
              p Frustrated with Olin's convention of using Microsoft Exchange for both mail and scheduling (even though Outlook doesn't function on Linux), I decided to make Olin students' schedules available through a web interface based on Node.JS (with the help of a few other students). The live webapp is only available to students, but 
                a(href="https://github.com/redfern314/oCal") here's the code behind the app!
              div(class="hcenter")
                img(src="/img/oCal.png")
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Olin Robotic Bioinspiration (ORB) Lab
            div(class="panel panel-body")
              div(class="container-fluid")
                div(class="row")
                  div(class="col-xs-12 col-md-6")
                    p The 
                      a(href="http://orb.olin.edu/") ORB Lab 
                      | uses nature to inspire small, fast, low-resource robots! I'm doing research in the lab this year. Here's a picure of the single-motor, alternating tripod gait robot that we're working with.
                  div(class="hcenter col-xs-12 col-md-6")
                    img(src="/img/dynaroach.png")