doctype html
html
  head
    // Bootstrap 3: Sandstone theme
    link(rel='stylesheet', href='/css/sandstone.css')
    //- link(rel='stylesheet', href='/css/bootstrap.css')
    //- link(rel='stylesheet', href='/css/bootstrap-theme.css')

    // Latest compiled and minified JavaScript + JQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src='/js/bootstrap.js')
  
    // And a few custom CSS styles & JS functions over the Bootstrap layer
    link(rel='stylesheet', href='/css/style.css')

    // For Bootstrap mobile
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block head
  body
    block body
    include ./footer.jade