/* So that the content of the page doesn't intersect the navbar */
body { padding-top: 25px; }

/* Carousel base class */
.carousel .carousel-control{
  height: 500px;
  margin-bottom: 60px;
  padding-top: 70px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Horizontally center text */
.hcenter {
    text-align: center;
}

/* Horizontally right-align text text */
.right {
    text-align: right;
}

.bottompad {
    margin-bottom: 20px;
}

.darkrule {
    color: #000000;
}

.italic {
  font-style: italic;
}